<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New User</title>
</head>
<body>


<form th:method="POST" th:action="@{/admin/}" th:object="${user}">
  <label for="name">Enter name</label>
  <input type="text" th:field="*{name}" id="name"/>
  <label for="lastname">Enter lastname</label>
  <input type="text" th:field="*{lastName}" id="lastname"/>
  <label for="email">Enter email</label>
  <input type="text" th:field="*{email}" id="email"/>
  <label for="password">Enter password</label>
  <input type="text" th:field="*{password}" id="password"/>
  <label for="login">Enter login</label>
  <input type="text" th:field="*{login}" id="login"/>
  <input type="submit" value="Create"/>

</form>

</body>
<form method="post" th:action="@{/logout}">
  <input type="submit" value="Logout">
</form>
</html>