<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<p th:text="${user.id}">VALUE</p>
<p th:text="${user.name}">VALUE</p>
<p th:text="${user.lastName}">VALUE</p>
<p th:text="${user.email}">VALUE</p>

<a th:href="@{/admin/{id}/edit(id=${user.getId()})}">
  <input type="submit" value="Edit"/>
</a>

<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
  <input type="submit" value="Delete"/>
</form>

<form method="post" th:action="@{/logout}">
  <input type="submit" value="Logout">
</form>



</body>
</html>